<!DOCTYPE html>
<html>
<head>
    <title>waterhell.com</title>
    <link rel="stylesheet" href="/assets/summary-trains.css" />
    <script type="text/javascript" src="/assets/summary-trains.js"></script>
</head>
<body>
    <div class="container">
        <div class="overlay--view"></div>
        <div class="loading--spin"></div>
        <div class="data--view">
            <div class="date--monitored"></div>
            <div class="summary--items">
                <div class="item" data-id="services-monitored"></div>
                <div class="item" data-id="cancelled_services"></div>
                <div class="item" data-id="delayed_services"></div>
                <div class="item" data-id="minutes_delayed"></div>
            </div>
            <div class="daily-cancelled-summary"></div>
            <div class="most--common-cancelled"></div>
        </div>
    </div>
</body>
</html>